:root {
    /** Purple-ish */
    --rec-primary-bg: rgba(71, 42, 57, 1.0);
    /** Almost black font color */
    --rec-primary-fnt: rgba(22, 29, 49, 1.0);
    /** Whitish font */
    --rec-secondary-fnt: rgba(241, 241, 241, 1.0);
    /** Whitish font dimmer */
    --rec-secondary-a-fnt: rgba(241, 241, 241, 0.8);
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.25rem; */
    /* text-align: center; */
    background-color: var(--rec-secondary-fnt);
    color: var(--rec-primary-fnt);
}

.container {
    box-sizing: border-box;
    max-width: 95%;
}

.navbar {
    background-color: var(--rec-primary-bg);
}

.navbar .navbar-brand {
    color: var(--rec-secondary-fnt);
}

.navbar .nav-link {
    color: var(--rec-secondary-a-fnt);
}

a {
    cursor: pointer;
}

input[type=radio] {
    border: 0px;
    width: 1rem;
    height: 1rem;
    margin-top: .5rem;
}

select {
    margin-bottom: 1rem;
    font-size: 1rem;
    height: 1.5rem;
}

.patient-intro {
    display: none;
    padding: 10px 20px 20px 20px;
}

.patient-intro-header {
    text-decoration: underline;
    font-size: 1.5rem;
}

.row {
    border-style: solid;
    border-width: 0 0 .1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.column {
    display: flex;
    flex-basis: 10%;
    align-items: center;
}

#cross {
    margin: .5rem;
    color: red;
}

.Home:before, .Hospital:before {
    content: '';
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .1rem;
    margin-bottom: .1rem;
    background-size: 1.5rem;
}

.Hospital:before {
    background: url(../img/hospital.svg) no-repeat;
}

.Home:before {
    background: url(../img/house.svg) no-repeat;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 80px;
    height: 25px;
    font-family: Tahoma;
}