# Lazy Session Shibboleth Config on Apache
AuthType shibboleth
<IfVersion < 2.3>
  ShibCompatWith24 On
</IfVersion>
ShibRequestSetting requireSession false 
require shibboleth
Options +SymLinksIfOwnerMatch 
RewriteEngine on
RewriteCond %{REMOTE_USER} ^$ 
RewriteRule ^(.*)$ /checker/index\.php\?target=%{REQUEST_URI} [NC,QSA]

